/*hoja de estilo de receta de tortilla de patatas*/
@font-face {
    font-family: tortilla;
    src: url(../fonts/GlacialIndifference-Regular.otf);
}
body {
    background-image: url('../images/fondo.jpg');
    font-family: tortilla;
    font-size: 1.15em;
}
#container {
    margin: auto;
    background-color: #fff;
    width: 80%;
    height: 100%;
    padding: 2%;
}
#container h1 {
    text-align: center;
}
#tortilla {
    width: 55%;
    display: block;  /*Se pone display block para que funcione el centrado de margin auto*/
    margin: auto;
}
#container h2 {
    background-color: #E97676;
    padding-left: 15px;
}
#container dl dt {
    font-weight: 700;
}
#container iframe {
   display: block;
   margin: auto;
   padding: 0;
}

@media only screen and (max-width: 600px) {
    body {
        margin: 0;
    }
   #container {
        width: 96%;
    }
    iframe {
        height: 215px;
    }
    #tortilla {
        width: 80%;
    }

}
.fa {
    color: darkcyan;
}
.fa-hand-o-right {
    font-weight: 600;
}
